html {
  padding: .2rem;
  margin: 1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/*table components*/
.container {
/*  background-color: pink;*/
}

.heading {
  font-size: 2rem;
  box-shadow:0 2px 8px 2px #000;
  text-align: center;
  margin-top: 1.25rem;
}

.control {
/*  background-color: lightblue;*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .3rem;
  margin-bottom: 2rem;
}

.select {
  font-size: 1rem;
  box-shadow: 0 1.5px 4px 1px #000;
  border: none;
}

.select:hover {
  box-shadow: 0 1.5px 4px 1px green;
  outline: none;
}

.content {
  /*background-color: lightblue;*/
  padding: .2rem;
  margin: 2rem 1.5rem;
}

.title {
  font-size: 1rem;
  text-align: center;
}

table {
  width: 100%;
  border: .1px solid #000;
  margin: 20px 0;
}

th {
  font-size: 1rem;
  color: blue;
  text-align: center;
  border: 1px solid #fff;
  background-color: lightblue;
  padding: .1rem;
}

table td{
  font-size:.6rem;
  background-color: grey;
  color: #fff;
}

/*Statistics components*/
.stats-container {
  background-color: lightblue;
  margin: 0 10rem;
}

.stats-container h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.stats-container div {
  text-align: center;
  margin: 1rem auto;
}


/*pi chart components*/

.small {
  margin: 0 8rem;
  padding: 3rem;
}




@media (max-width: 768px) {
  html,body {
    margin: 0;
    padding: 0;
  }
     
  .container {
    margin: 0;
  }

 .content {
   margin: 1rem auto;
  }

  .stats-container {
     margin: 0 1rem;
   }
  
  

  .small {
     margin: 0 1rem;
     margin-bottom: 2rem;
   }
  
}
